videos/
practice/2/2.2/node_modules/
practice/2/2.5/node_modules/
.env
practice/3/3.1/node_modules/
practice/3/3.2/node_modules/

assignments/04 week/01/node_modules/
assignments/02 week/01-async/node_modules/
assignments/02 week/02-nodejs/node_modules/
