Languages/Java/cp/
Languages/Java/college/telusko course/Javacode/

Frameworks and libraries/Django/asgi tutorial/env/
Frameworks and libraries/Django/asgi tutorial/core/core/__pycache__/
Frameworks and libraries/Django/asgi tutorial/core/chat/__pycache__/

Frameworks and libraries/Django/Rest api/env
Frameworks and libraries/Django/Rest api/core/__pycache__/

cohort/videos/