.heading{
    color: rgb(64, 109, 19);
}
.header{
    background-color: aliceblue;
}
.article{
    background-color: aqua;
}
.span1{
    background-color: blue;
}
.span2{
    background-color: blueviolet;
}